.admin {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin-top: -65px;
  overflow-y: hidden;
}

.appHeader {
  height: 64px;
  display: grid;
  place-items: center;
}

.sideMenu {
  height: auto;
}

.sideMenuVertical {
  height: auto;
}

aside.ant-layout-sider.ant-layout-sider-dark {
  background: #ffffff;
}
